h1 {
    text-align: center;
}

.container{
    display: grid;
    margin: auto;
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
}

.cell{
    display: grid;
    border: 0.5px solid black;
    opacity: 0;
}

.controls{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    margin: auto;
    width: 30rem;
    border: 1px solid black;
    border-bottom-color: transparent;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
}

.slidebar{
    width: 80%;
}